/*
Colors used:
White: #ffffff;
Black: #000000;
Gray 050: #f7f7f8;
Gray 200: #c6c7cd;
Gray 700: #5c5f6a;
*/

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* Sets the line-height to 1.5 * the font-size */
  color: #000000;
}

h1, h2, h3, h4{
  line-height: 1.5;
  font-weight: 700;
}

h1{
  font-size: 2.25em; /* 36 px */
}

h2{
  font-size: 2em; /* 32 px */
}

h3{
  font-size: 1.5em; /* 24 px */
}

h4{
  font-size: 1.25em; /* 20 px */
}

img{
width: 100%;
}

a{
  color: #000000;
  text-decoration: none;
}
/* usually best to have a and a:visited the same color (also for privacy reasons)*/
a:visited{
  color: #000000;
}

a:hover,
a:focus{
  text-decoration: underline;
}

a:active{
  background-color: #000;
  color: #ffffff;
}

.button{
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 24px;
  background-color: #000000;
  border-radius: 2px;
}
.button:visited{
  color:#ffffff;
}
.button:hover{
  opacity: 0.8;
  text-decoration: none;
}

.button.secondary{
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.button.secondary:visited{
  text-decoration: none;
}
.button.secondary:hover{
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
  text-decoration: none;
}
